.fondo{
    background: wheat;
background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: orange;
    transition: all 2s ease;
}

#figura{
    display: block;
    background: red;
    width: 50px;
    height: 50px;
    border: 5px solid gold;
}

.centrar{
    display: flex;
    justify-content: center;
    align-items: center;
}
